/*
 * Base settings
 */

/* For newer IE versions, since they ignore meta viewport tags in snap mode */
@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}

/* TODO: Uncomment this once the standard is accepted. It doesn't yet validate. */
/*
@viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}
*/

*, :before, :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font: 16px/1.6 Roboto, sans-serif;
}

pre,
code {
  font-family: 'Roboto Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

img {
  max-width: 100%; /* prevent images from overflowing their containers */
}

/* 
 * Header
 */

header {
  padding: 1em;
}

.header-top {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 100px;
  border-bottom: 1px solid #aaa;
}

.header-top > * {
  flex: 1 0 100%;
}

.logo-container,
.logo {
  width: 100px;
  height: 100px;
}

.header-top h1 {
  margin: 0;
  line-height: 1.4;
  width: 45%;
}

.menu-opener,
.login,
.logout {
  flex-basis: 40%; /* If set to 50%, Firefox splits these items onto 2 lines */
  line-height: 2em;
}

.menu-opener,
.hamburger {
  width: 48px;
  height: 48px;
}

/*
 * Nav menu
 */

/* `nav` slides off to the left. It uses `left` instead of `transform` so that
 * it doesn't override independent scrolling behavior of `.menu-closer` */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  border: 40px solid rgba(0, 0, 0, 0.5);
  padding: 2em;
  background: #fff;
  transition: left 0.25s ease;
}

.menu-closed nav {
  left: -100vw;
}

body {
  /* Prevent the main page from scrolling while the menu is open */
  position: fixed;
  /* But always show the scrollbar so the page doesn't jump */
  overflow-y: scroll;
}

.menu-closed body {
  position: static;

}

nav h2 {
  margin: 0 0 1em;
}

/* `.menu-closer` slides off to the right. It stays in place as `nav` scrolls */
.menu-closer {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(0, 0);
  transition: transform 0.25s ease;
  /* Dimensions match `nav` border width */
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  font: bold 28px/40px Roboto, sans-serif;
  text-decoration: none;
}

.menu-closed .menu-closer {
  transform: translate(100vw, 0);
}

.menu-closer abbr {
  text-decoration: none;
}

nav ul {
  margin: 0;
  list-style: none;
}

nav > ul {
  padding-left: 0;
}

nav > ul > ul {
  padding-left: 1.5em;
}

/* Without JavaScript */

.nojs body {
  overflow: visible;
}

.nojs .menu-opener,
.nojs .menu-closer {
  display: none;
}

.nojs nav {
  display: block;
  position: static;
  border: 1px solid #aaa;
  padding: 1em;
  width: auto;
  height: auto;
}

.nojs nav h2 {
  margin: 0 0 0.25em;
}

.nojs nav ul ul {
  padding-left: 1em;
}

/* Put the list of instrument categories all on one line */
.nojs nav ul ul li {
  display: inline-block;
  margin-left: 0.25em;
}

/*
 * Main content
 */

.container {
  margin: 1em;
}

.instrument-img {
  float: left;
  margin: 0 1em 0 0;
  width: 40vw;
  max-height: 60vw;
  background: #ddd;
}

/*
 * API documentation
 */

/*
 * Breakpoint adjustments
 */

@media screen and (min-width: 500px) {
  .header-top h1 {
    width: auto;
    line-height: 2em;
  }
}
