[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleach = "*"
blinker = "*"
flask = "*"
flask-dance = "*"
flask-limiter = "*"
flask-login = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-sslify = "*"
gunicorn = "*"
itsdangerous = "==0.24"
mistune = "*"
"psycopg2" = "*"
pygments = "*"
python-dotenv = "*"
requests = "*"
werkzeug = "*"

[requires]

[dev-packages]
