[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-limiter = "*"
python-dotenv = "*"
gunicorn = "*"
requests = "*"
mistune = "*"
bleach = "*"

[requires]

[dev-packages]
