{% extends "base.html" %}
{% block title %}Categories{% endblock %}
{% block heading %}Categories{% endblock %}
{% block content %}
  {% for category in categories %}
    <article>
      <h2><a href="{{ url_for('one_category', category_id=category.id) }}">{{ category.name }}</a></h2>
      {% if 'user' in g %}
        <a href="{{ url_for('new_instrument', c=category.id) }}">Create an instrument in this category</a>
      {% endif %}
      {{ category.description | markdown }}
      <p>Examples include...</p>{# TODO list and link to examples #}
    </article>
  {% endfor %}
{% endblock content %}
