<!DOCTYPE html>
<html lang="en-us" class="nojs menu-closed {% block html_class %}{% endblock %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} | Instrument Catalog</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono">
    <link rel="stylesheet" href="/static/styles.css">
    {% block scripts %}<script async src="/static/scripts.js"></script>{% endblock %}
  </head>
  <body>

    <header>
      <div class="header-top">
        <a href="{{ url_for('index') }}"><img class="logo" src="/static/logo.svg" alt="Instrument Catalog logo"></a>
        <h1>Instrument Catalog</h1>
        <a href="#" class="menu-opener menu-toggle"><img class="hamburger" src="/static/menu-icon.svg" alt="Open menu" title="Open menu"></a>
        {% if current_user.is_authenticated %}
          <form action="{{ url_for('auth.logout') }}" method="POST" class="logout">
            <button type="submit" class="logout-button">Log out</button>
          </form>
        {% else %}
          <a href="{{ url_for('auth.login') }}" class="login">Log in</a>
        {% endif %}
      </div>

      <nav>
        <h2 class="nav-heading">Menu</h2>
        <a href="#" class="menu-closer menu-toggle"><abbr title="Close menu">X</abbr></a>
        <ul class="nav-list">
          <li class="nav-home"><a href="{{ url_for('index') }}">Home</a></li>
          {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('my_instruments') }}">My Instruments</a></li>
            <li><a href="{{ url_for('new_instrument') }}">Create New Instrument</a></li>
          {% endif %}
          <li class="nav-parent">
            <a href="{{ url_for('all_categories') }}">Categories</a>
            <ul>
              {% for category in categories %}
                <li><a href="{{ url_for('one_category', category_id=category.id) }}">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li><a href="{{ url_for('all_instruments') }}">All instruments</a></li>
          <li><a href="{{ url_for('documentation.api') }}">API</a></li>
        </ul>
      </nav>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashed-messages">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </header>

    <div class="container">
      {% block heading_container %}
        <h1>{% block heading %}{% endblock %}</h1>
      {% endblock heading_container %}
      <main>
        {% block content %}{% endblock %}
      </main>
    </div>
    <footer>Site created by <a href="https://noahbrenner.github.io/">Noah Brenner</a>. Find the source code <a href="https://github.com/noahbrenner/instrument-catalog-py">on GitHub</a>.</footer>
    <script>
// Show/hide the navigation menu 
// This function is included inline so that the 'nojs' menu doesn't flash while waiting for the external script file to load
(function () {
    var toggles = document.getElementsByClassName('menu-toggle');

    function toggleMenu(event) {
        document.documentElement.classList.toggle('menu-closed');
        event.preventDefault();
    }

    Array.prototype.forEach.call(toggles, function (element) {
        element.addEventListener('click', toggleMenu);
    });

    // Now that the menu can be toggled, disable "no-JS" styling (hide the menu)
    document.documentElement.classList.remove('nojs');
})();
    </script>
  </body>
</html>
