{% macro tile(instrument, current_user) -%}
  <article>
    <h2><a href="{{ url_for('one_instrument', instrument_id=instrument.id) }}">{{ instrument.name }}</a></h2>
    {% if current_user.is_authenticated and current_user.id == instrument.user_id %}
      <ul class="instrument-options">
        <li><a href="{{ url_for('edit_instrument', instrument_id=instrument.id) }}">Edit</a></li>
        <li><a href="{{ url_for('delete_instrument', instrument_id=instrument.id) }}">Delete</a></li>
      </ul>
    {% endif %}
    <img class="instrument-img" src="{{ instrument.get_image_url() }}" alt="{{ instrument.name }}">
    <div class="tile-details">
      {% if instrument.alternate_names %}
        <dl>
          <dt>Alternate names:</dt>
          {% for alternate in instrument.alternate_names %}
            <dd>{{ alternate.name }}</dd>
          {% endfor %}
        </dl>
      {% endif %}
      <p>{{ instrument.description | markdown | striptags | truncate(150) }}</p>
      <p><a href="{{ url_for('one_instrument', instrument_id=instrument.id) }}">view full description</a></p>
    </div>
  </article>
{%- endmacro %}
