{% macro tile(instrument, heading='h2') -%}
  <article>
    <{{ heading }}><a href="{{ url_for('one_instrument', instrument_id=instrument.id) }}">{{ instrument.name }}</a></{{ heading }}>
    {% if current_user.is_authenticated and current_user.id == instrument.user_id %}
      <ul class="instrument-options">
        <li><a href="{{ url_for('edit_instrument', instrument_id=instrument.id) }}">Edit</a></li>
        <li><a href="{{ url_for('delete_instrument', instrument_id=instrument.id) }}">Delete</a></li>
      </ul>
    {% endif %}
    <img src="{{ instrument.image }}" alt="{{ instrument.name }}">
    <div class="tile-details">
      {% if instrument.alternate_names %}
        <dl>
          <dt>Alternate names:</dt>
          {% for alternate in instrument.alternate_names %}
            <dd>{{ alternate.name }}</dd>
          {% endfor %}
        </dl>
      {% endif %}
      <p>{{ instrument.description | markdown | striptags | truncate(255) }}</p>
      <p><a href="{{ url_for('one_instrument', instrument_id=instrument.id) }}">view full description</a></p>
    </div>
  </article>
{%- endmacro %}
