{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block heading %}Log in to Instrument Catalog{% endblock %}
{% block heading_container %}
  {{ super() }}
  {% if current_user.is_authenticated %}
    <p class="notice">You're already logged in! However, you can explicitly log in again, if you'd like.</p>
  {% endif %}
{% endblock heading_container %}
{% block content %}
  <form action="{{ url_for('google.login') }}" method="GET">
    <button type="submit">Sign In with Google</button>
  </form>
  {% if config.ENV == 'development' %}
    <form action="{{ url_for('auth.login') }}" method="POST">
      <button type="submit" title="Bypass the OAuth flow and authenticate as user 1">Sign In (dev mode)</button>
    </form>
  {% endif %}
  <p>Once you've signed in, you'll be able to create your own instrument pages! You'll be able to edit any that you've created and you'll have access to your very own page showing all the instruments you've contributed to the catalog.</p>
{% endblock content %}
