{% extends "base.html" %}
{% block html_class %}instrument-detail{% endblock %}
{% block title %}{{ instrument.name }}{% endblock %}
{% block heading_container %}{% endblock %}{# We're overriding heading settings #}
{% block content %}
  <div class="heading-box">
    <h2>{{ instrument.name }}</h2>
    {% if current_user.is_authenticated and current_user.id == instrument.user_id %}
      <ul class="instrument-options">
        <li><a href="{{ url_for('edit_instrument', instrument_id=instrument.id) }}">Edit</a></li>
        <li><a href="{{ url_for('delete_instrument', instrument_id=instrument.id) }}">Delete</a></li>
      </ul>
    {% endif %}
  </div>
  <img class="instrument-img" src="{{ instrument.get_image_url() }}" alt="{{ instrument.name }}">

  <div class="short-details">
    <h3>Category</h3>
    <a href="{{ url_for('one_category', category_id=instrument.category_id) }}">{{ instrument.category.name }}</a>

    {% if instrument.alternate_names %}
      <h3>Alternate Names</h3>
      <ul class="alternate-names">
        {% for alternate in instrument.alternate_names %}
          <li>{{ alternate.name }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <h3 class="description">Description</h3>
  <section>{{ instrument.description | markdown }}</section>
{% endblock content %}
