{% extends "base.html" %}
{% block title %}{{ instrument.name }}{% endblock %}
{% block heading_container %}{% endblock %}{# We're overriding heading settings #}
{% block content %}
  <h2 class="inst_detail-heading">{{ instrument.name }}</h2>
  {% if current_user.is_authenticated and current_user.id == instrument.user_id %}
    <ul class="instrument-options">
      <li><a href="{{ url_for('edit_instrument', instrument_id=instrument.id) }}">Edit</a></li>
      <li><a href="{{ url_for('delete_instrument', instrument_id=instrument.id) }}">Delete</a></li>
    </ul>
  {% endif %}
  <img class="instrument-img" src="{{ instrument.get_image_url() }}" alt="{{ instrument.name }}">

  <h3>Category</h3>
  <a href="{{ url_for('one_category', category_id=instrument.category_id) }}">{{ instrument.category.name }}</a>

  {% if instrument.alternate_names %}
    <h3>Alternate Names</h3>
    <ul>
      {% for alternate in instrument.alternate_names %}
        <li>{{ alternate.name }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <h3>Description</h3>
  <section>{{ instrument.description | markdown }}</section>
{% endblock content %}
