{% extends "base.html" %}
{% from "instrument_tile.html" import tile %}
{% block title %}{{ category.name }}{% endblock %}
{% block heading %}{{ category.name }}{% endblock %}
{% block content %}
  {{ category.description | markdown }}
  <a href="{{ url_for('new_instrument', c=category.id) }}">Create an instrument in this category</a>
  <hr>
  {% if category.instruments %}
    {% for instrument in category.instruments %}
      {{ tile(instrument, current_user) }}
    {% endfor %}
  {% else %}
    <p>There are no instruments in this category yet, but you can <a href="{{ url_for('new_instrument', c=category.id) }}">create one</a>!</p>
  {% endif %}
{% endblock content %}
